html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  max-width: 50em;
  max-height: 500px
  width: 100%;
}

.img {
  max-width:

}
